<div id="magic" ng-app="ideaPlanner">
  <h1>Elevator pitch</h1>
  <div>
    <p>Every startup needs a cheesy pitch line where you compare your company to an existing service and then tell what sets your startup apart. Enter yours below: </p>
  </div>
  <div class="row" ng-controller="magicCtrl" ng-model="vennInput">
    <form if-interacted>
      <fieldset>
        <div class="column">
          <label for="mgc-like">It's like...</label>
          <input ng-model="vennInput.like" ng-blur="updateVennData()" type="text" id="mgc-like" placeholder="Put your business here">
          <label for="mgc-for">For...</label>
          <input ng-model="vennInput.for" ng-blur="updateVennData()" type="text" id="mgc-for" placeholder="Put your business here">
          <label for="mgc-with">With...</label>
          <input ng-model="vennInput.with" ng-blur="updateVennData()" type="text" id="mgc-with" placeholder="Put your business here">
        </div>
      </fieldset>
    </form>
    <div class="column column-66" id="vennColumn">
      <div venn="vennData" id="vennDiagram">
        <h5 id="companyTitle">YOUR COMPANY</h5>
      </div>
    </div>
  </div>
</div>
