<div id="analysis" ng-app="ideaPlanner">
  <div ng-controller="analysisCtrl" if-interacted>
    <h1>COMPETITORS</h1>
    <p>Compare yourself with your main competitors, what's your strengths and weaknesses in relation to theirs?</p>
    <div class="row">
      <div class="col-md-8">
        <canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels" chart-series="series" chart-colours="colours"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <h5> {{ labels[0] }}</h5>
      </div>
      <div class="col-md-2">
        <h5> {{ labels[1] }}</h5>
      </div>
      <div class="col-md-2">
        <h5> {{ labels[2] }}</h5>
      </div>
      <div class="col-md-2">
        <h5> {{ labels[3] }}</h5>
      </div>
      <div class="col-md-2">
        <h5> {{ labels[4] }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      <p>{{ series[0]}}</p>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[0][0]">
          <option value="0" disabled selected>Experience</option>
          <option value="10">Very Bad</option>
          <option value="20">Bad</option>
          <option value="30">Average</option>
          <option value="40">Good</option>
          <option value="50">Very Good</option>
          </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[0][1]">
          <option value="0" disabled selected>Cost</option>
          <option value="10">Very Expensive</option>
          <option value="20">Expensive</option>
          <option value="30">Average</option>
          <option value="40">Affordable</option>
          <option value="50">Very Affordable</option>
          </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[0][2]">
          <option value="0" disabled selected>Quality</option>
          <option value="10">Very Bad</option>
          <option value="20">Bad</option>
          <option value="30">Average</option>
          <option value="40">Good</option>
          <option value="50">Very Good</option>
        </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[0][3]">
          <option value="0" disabled selected>Target group</option>
          <option value="10">Very Small</option>
          <option value="20">Small</option>
          <option value="30">Average</option>
          <option value="40">Big</option>
          <option value="50">Very Big</option>
        </select>
      </div>
      <div class="col-md-2">
      <select class="form-control" ng-model="data[0][4]">
        <option value="0" disabled selected>Main idea</option>
        <option value="10">Very Bad</option>
        <option value="20">Bad</option>
        <option value="30">Average</option>
        <option value="40">Good</option>
        <option value="50">Very Good</option>
      </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
      <p>{{ series[1]}}</p>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[1][0]">
          <option value="0" disabled selected>Experience</option>
          <option value="10">Very Bad</option>
          <option value="20">Bad</option>
          <option value="30">Average</option>
          <option value="40">Good</option>
          <option value="50">Very Good</option>
          </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[1][1]">
          <option value="0" disabled selected>Cost</option>
          <option value="10">Very Expensive</option>
          <option value="20">Expensive</option>
          <option value="30">Average</option>
          <option value="40">Affordable</option>
          <option value="50">Very Affordable</option>
          </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[1][2]">
          <option value="0" disabled selected>Quality</option>
          <option value="10">Very Bad</option>
          <option value="20">Bad</option>
          <option value="30">Average</option>
          <option value="40">Good</option>
          <option value="50">Very Good</option>
        </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[1][3]">
          <option value="0" disabled selected>Target group</option>
          <option value="10">Very Small</option>
          <option value="20">Small</option>
          <option value="30">Average</option>
          <option value="40">Big</option>
          <option value="50">Very Big</option>
        </select>
      </div>
      <div class="col-md-2">
      <select class="form-control" ng-model="data[1][4]">
        <option value="0" disabled selected>Main idea</option>
        <option value="10">Very Bad</option>
        <option value="20">Bad</option>
        <option value="30">Average</option>
        <option value="40">Good</option>
        <option value="50">Very Good</option>
      </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
      <p>{{ series[2]}}</p>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[2][0]">
          <option value="0" disabled selected>Experience</option>
          <option value="10">Very Bad</option>
          <option value="20">Bad</option>
          <option value="30">Average</option>
          <option value="40">Good</option>
          <option value="50">Very Good</option>
          </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[2][1]">
          <option value="0" disabled selected>Cost</option>
          <option value="10">Very Expensive</option>
          <option value="20">Expensive</option>
          <option value="30">Average</option>
          <option value="40">Affordable</option>
          <option value="50">Very Affordable</option>
          </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[2][2]">
          <option value="0" disabled selected>Quality</option>
          <option value="10">Very Bad</option>
          <option value="20">Bad</option>
          <option value="30">Average</option>
          <option value="40">Good</option>
          <option value="50">Very Good</option>
        </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" ng-model="data[2][3]">
          <option value="0" disabled selected>Target group</option>
          <option value="10">Very Small</option>
          <option value="20">Small</option>
          <option value="30">Average</option>
          <option value="40">Big</option>
          <option value="50">Very Big</option>
        </select>
      </div>
      <div class="col-md-2">
      <select class="form-control" ng-model="data[2][4]">
        <option value="0" disabled selected>Main idea</option>
        <option value="10">Very Bad</option>
        <option value="20">Bad</option>
        <option value="30">Average</option>
        <option value="40">Good</option>
        <option value="50">Very Good</option>
      </select>
      </div>
    </div>

    <!--
    <button type="button" class="button" ng-click="saveData()">
      <span class="glyphicon glyphicon-ok"></span>
    </button> -->
  </div>
</div>
