<div style="position:relative">
  <div class="landingplate">
    <h1>Quick! Write down your idea!</h1>
    <!-- <p> Lorem ipsum BLA BLA BLA Lorem ipsum BLA BLA BLA Lorem ipsum BLA BLA BLA Lorem ipsum BLA BLA BLA Lorem ipsum BLA BLA BLA</p> -->
    <p>This is an application for when you get a brilliant idea for a startup and need to quickly formalize it. When the application is done it will take you through 8 steps you can use in a pitch.</p>
    <p>In this video we will show you what we got so far!</p>
    <a class="button" href="#/fullpage">Go go go</a>
  </div>
</div>
