<div style="position:relative" ng-controller="RouteCtrl">
  <div class="landingplate">
  	<h1>QuickPitch</h1>
    <p>QuickPitch is the tool to use in times when you come up with an idea and need to write it down but you don't know where and how to start. QuickPitch guides you through all necessary steps to make sure that you have the answers to all possible fundamental questions when you pitch your idea.</p>
    <h3>Quick! Write down your idea!</h3>
    <a class="button" href="#/{{session}}">Go go go</a>
  </div>
</div>
