<div ng-controller="ValueCtrl">
  <div id="valueAnimate"></div>
  <div id="valueprop">
    <h1>VALUE PROPOSITION</h1>
    <p>Stakeholders are very important to any project. Add up to three stakeholders below and give them a picture, name and value provided to them.</p>
    <div class="row">
      <div class="stakeholder-card column-25" ng-repeat="card in cards" id="{{card.cardId}}">
        <a href="" ng-click="removeCard(card)"><img ng-src="images/delete.svg" class="removeButton"></a>
        <form name="form{{card.cardId}}" if-interacted>
          <inputfield>
            <img ng-src="images/{{ card.image }}" />
            <select ng-model="card.name" ng-options="person.option for person in persons" ng-change="card.image = changeImage(card.name); checkProgress(card);" class="valueInput" name="image">
            </select>
            <input type="text" ng-model="card.nickname" class="valueInput" ng-change="checkProgress(card)" placeholder="Who is this?" name="nickname">
            <p> What is the value provided to this stakeholder?</p>
            <select ng-model="card.value" class="valueInput" ng-options="value.option for value in values" ng-change="changeValue(card.value); checkProgress(card)" name="value">
            </select>
          </inputfield>
        </form>
      </div>
      <div class="addNewCard column column-25" ng-click="addNewCard()" ng-if="cards.length < 3">
        <img ng-src="images/cross.png">
      </div>
    </div>
  </div>
</div>
