<div id="businessmodel">
    <h1>BUSINESS MODEL</h1>
    <div class="row">
        <div class="col-sm-6">
            <h3>Who has your money?</h3>
            <img style="width:100px;height:100px;" ng-src="images/music.png">
            <p>hipsters</p>
        </div>
        <div class="col-sm-6">
            <h3>How are you going to get it?</h3>
            <p>Subscriptions</p>
            <p>One time fee</p>
            <p>Advertising</p>
            <p>Sponsors</p>
            <p>Charity</p>
        </div>
    </div>
    <h3></h3>

</div>